.input {
    border: 0;
    border-bottom: 1px solid;
    border-color: var(--light-blue-color);
    padding: 5px 0;
    background-color: transparent;
    transition: border-color .1s linear;
    position: relative;
    width: 100%;

    font-size: 18px;
    line-height: 21px;
    color: var(--dark-gray-color);

    &:focus {
        border-color: var(--blue-color);
        outline: none;
    }

    // TODO: обработать пустое value
    &:valid + label,
    &:focus + label { 
        top: -15px;

        font-size: 12px;
        line-height: 14px;
        color: var(--gray-color);
        cursor: default;
    }

    &.error, &.error:focus {
        border-color: var(--error-color);
    }
}

.input[type="number"]:not(.counter) {
    appearance: none;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &:hover,
    &:focus {
        appearance: none;
        -moz-appearance: textfield;
    }
}