:root {
    --black-color: #000000;
    --white-color: #ffffff;

    --light-gray-color: #9A9A9A;
    --gray-color: #9F9F9F;
    --dark-gray-color: #535353;

    --blue-color: #3592FF;
    --light-blue-color: #6CB0FF;;

    --error-color: #FF0000;
}